.feedback {
  height: 100vh;
  width: 100vw;
  background-image: url("../capa.png");
  background-repeat: repeat, repeat-x;
  background-position: top right, center;
  background-size: 50%;
  align-items: center;
}

.feedback-container {
  height: 60vh;
  width: 40vw;
  background-color: rgb(50, 51, 53);
  border-radius: 3rem;
  color: rgb(250, 249, 249);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 28%;
  margin-top: 4rem;
  padding: 2rem;
}

.img-user{
  width: 8rem;
  border-radius: 5rem;
  margin-left: 38%;
}

.feedback-infos{
  padding: 1rem;
  margin-top: 4%;
  text-align: center;
 
}

.feedback-btns{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.btn-play-again{
  background:linear-gradient(90deg, rgba(94,35,134,1) 18%, rgba(253,29,29,1) 78%, rgba(253,29,146,1) 97%);
  outline: none;
  color: white;
  border: none;
  width: 13rem;
  height: 2.4rem;;
  cursor: pointer;
  border-radius: 5px;
}

.btn-play-again:hover {
  background: linear-gradient(90deg, rgba(253,29,146,1) 2%, rgba(253,29,29,1) 25%, rgba(94,35,134,1) 75%);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(39,10,135,1);
  -moz-box-shadow: 0px 0px 4px 2px rgba(39,10,135,1);
  box-shadow: 0px 0px 4px 2px rgba(39,10,135,1);
}

.btn-ranking{
  color:white;
  background-color: rgb(50, 51, 53);
  position: relative;
  border: 2px solid  rgba(94,35,134,1);
  border: none;
  width: 13rem;
  height: 2.4rem;;
  cursor: pointer;
  border-radius: 5px;
}

.btn-ranking:hover {
  -webkit-box-shadow: 0px 0px 4px 2px rgba(39,10,135,1);
  -moz-box-shadow: 0px 0px 4px 2px rgba(39,10,135,1);
  box-shadow: 0px 0px 4px 2px rgba(39,10,135,1);
}
