.header{
    background-color:rgb(50, 51, 53);
    color: white;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 0.2rem;
}

.img {
    width: 3rem;
    border-radius: 2rem;
    margin-top: 0.2rem;
}
